<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/workers">Workers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/managers">Managers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/locations">Locations</a>
            </li>
        </ul>
        <a class="btn btn-outline-danger" href="/logout">Logout</a>
    </div>
</nav>
<div class="container mt-5">
    <h1>Add Manager</h1>
    <form th:action="@{/api/managers/add-manager}" th:object="${manager}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/api/managers">Back to Managers</a>
        </div>
    </form>
    <div style="margin-bottom: 50px;"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
