<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Worker`s Preferences</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Manager Panel</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/tasks">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/tasks/archive">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/preferences">Preferences</a>
      </li>
    </ul>
    <a class="btn btn-outline-danger" href="/logout">Logout</a>
  </div>
</nav>
<div class="container">
  <h1 class="my-4">Worker Preferences</h1>
  <div class="mb-3">
    <label class="form-label">Shift Preference</label>
    <input type="text" class="form-control" th:value="${worker.preferences.shiftPreference}" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">Working Days</label>
    <input type="text" class="form-control" th:value="${workingDays}" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">Possible Days</label>
    <input type="text" class="form-control" th:value="${possibleDays}" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">Working Locations</label>
    <input type="text" class="form-control" th:value="${workingLocations}" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">Possible Locations</label>
    <input type="text" class="form-control" th:value="${possibleLocations}" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">Status</label>
    <input type="text" class="form-control" th:value="${worker.preferences.vacation ? 'Inactive' : 'Active'}" readonly>
  </div>
  <div>
    <a th:href="@{/api/preferences}" class="btn btn-secondary">Back to Preferences List</a>
  </div>
  <div style="margin-bottom: 50px;"></div>
</div>
</body>
</html>
